# Secrets Terraform
*.tfvars
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform/
.terraform.lock.hcl
*.tfplan
deploy*.tfplan
destroy*.tfplan

# Clés SSH
*.pem
*_rsa
*_rsa.pub
id_rsa*

# Images et fichiers volumineux
*.qcow2
migration_staging/

# Python
venv/
__pycache__/
*.pyc

# Divers
*.bak
