# State Terraform — contient IPs, IDs, mots de passe
terraform.tfstate
terraform.tfstate.backup
*.tfstate

# Variables sensibles
terraform.tfvars
!terraform.tfvars.example

# Providers téléchargés
.terraform/
.terraform.lock.hcl

# Clés SSH
mykey
mykey.pub
