# ── Copier ce fichier en terraform.tfvars et remplir les vraies valeurs ──
# cp terraform.tfvars.example terraform.tfvars

# ── OpenStack Auth ─────────────────────────────────────
auth_url            = "https://X.X.X.X:5000/v3"
username            = "admin"
password            = "VOTRE_MOT_DE_PASSE"
project_name        = "admin"
project_domain_name = "Default"
user_domain_name    = "Default"
region              = "microstack"
insecure            = true
cacert_file         = "/var/snap/microstack/common/etc/ssl/certs/cacert.pem"

# ── Réseau ─────────────────────────────────────────────
external_network_name = "external"
k8s_subnet_cidr       = "192.168.100.0/24"
k8s_pool_start        = "192.168.100.10"
k8s_pool_end          = "192.168.100.200"
pod_cidr              = "10.244.0.0/16"

# ── Compute ────────────────────────────────────────────
image_name      = "Ubuntu-22.04"
master_flavor   = "m1.small"
worker_flavor   = "m1.small"
public_key_path = "/home/VOTRE_USER/.ssh/openstack/mykey.pub"
worker_count    = 2
master_ip       = "192.168.100.20"
worker_ips      = ["192.168.100.11", "192.168.100.12"]
